.App {
  text-align: center;
}

#store-table {
  text-align: left;
  width: 100%;
}

#store-table td, #store-table th {
  border: 2px solid;
  padding: 10px;
}

#buttonPanel {
  text-align: center;
  margin: 25px 0;
}

#form-container {
  width: 50%;
}

.container {
  padding: 20px 0;
}